VITE_WIDGET_API_URL={{WIDGET_API_URL}}
VITE_WIDGET_XMPP_DOMAIN={{WIDGET_XMPP_DOMAIN}}
VITE_WIDGET_XMPP_WS_URL={{WIDGET_XMPP_WS_URL}}
VITE_WIDGET_XMPP_CONFERENCE={{WIDGET_XMPP_CONFERENCE}}
VITE_WIDGET_QR_URL={{WIDGET_QR_URL}}
